@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.width-80 {
  width: 90%;
  margin: 0 auto;
}

.heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2rem;
}
.heading hr {
  width: 5%;
  margin: 1rem 0;
  color: #3d897c;
  border: 2px solid #3d897c;
}

header {
  background: #051d41;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #051d41), to(#6ae1e9));
  background: linear-gradient(90deg, #051d41 50%, #6ae1e9 100%);
  width: 100%;
  color: #fff;
}
header .main-info {
  padding: 3rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 15%;
  margin: 0 5%;
}
header .main-info i {
  font-size: 3rem;
}
header .main-info .info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
header .main-info .info h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
header .main-info .info p {
  color: #3d897c;
  text-transform: uppercase;
}

.reg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.reg-form .reg-form-info {
  margin-top: 2.5rem;
  width: 40%;
}
.reg-form .reg-form-info h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.reg-form .reg-form-info h2 i {
  color: #3d897c;
}
.reg-form .reg-form-info p {
  margin-top: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}
.reg-form .reg-form-form label {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.03rem;
}
.reg-form .reg-form-form #reg-form-date {
  display: block;
  width: calc(100% - 1rem);
  margin-top: 1rem;
  height: 3rem;
  padding: 0.5rem;
  border: 1px solid lightgray;
  color: gray;
}

.footer, .address-info, .personal-info {
  margin-top: 4rem;
}

.personal-info-form, .address-form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.personal-info-form label, .address-form label {
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.05rem;
}
.personal-info-form .form-input, .address-form .form-input {
  width: 45%;
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.personal-info-form .form-input label, .address-form .form-input label {
  width: 11rem;
}
.personal-info-form .form-input input, .personal-info-form .form-input select, .address-form .form-input input, .address-form .form-input select {
  width: calc(100% - 12rem);
  height: 2.2rem;
  border: 2px solid lightgray;
  border-radius: 0;
  padding: 0 1rem;
  font-size: 0.9rem;
}
.personal-info-form .form-input:first-child, .address-form .form-input:first-child {
  width: 100%;
}
.personal-info-form .radio-buttons, .address-form .radio-buttons {
  width: 45%;
}
.personal-info-form .radio-buttons .radio-input, .address-form .radio-buttons .radio-input {
  width: calc(100% - 10rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [first-col] 40% [second-col] 60% [third-col];
  grid-template-columns: [first-col] 40% [second-col] 60% [third-col];
  -ms-grid-rows: [first-row] 50% [second-row] 50% [third-row];
  grid-template-rows: [first-row] 50% [second-row] 50% [third-row];
}

.footer-info > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.footer-info > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.footer-info > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.footer-info > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.footer-info > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.footer-info > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.footer-info > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.footer-info > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.footer-info > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.footer-info > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.footer-info > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.footer-info > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.footer-info > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.footer-info > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.footer-info > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.footer-info > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.footer-info > *:nth-child(17) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.footer-info > *:nth-child(18) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.footer-info > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.footer-info > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.footer-info > *:nth-child(21) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.footer-info > *:nth-child(22) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.footer-info > *:nth-child(23) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.footer-info > *:nth-child(24) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.footer-info > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.footer-info .footer-info-address {
  grid-column: first-col/span second-col;
  grid-row: first-row/span third-row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer-info .footer-info-address p {
  font-weight: 600;
}
.footer-info .footer-info-address p a {
  color: #3d897c;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-info .footer-info-address p a:active, .footer-info .footer-info-address p a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #051d41;
}
.footer-info .footer-signatures {
  grid-column: second-col/span third-col;
  grid-row: first-row/span second-row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer-info .footer-signatures .signature {
  width: 40%;
}
.footer-info .footer-signatures .signature hr {
  color: lightgray;
  border: 3px solid lightgray;
  margin-bottom: 1rem;
}
.footer-info .footer-signatures .signature p {
  font-weight: 500;
  text-align: center;
}
.footer-info .footer-thanks {
  grid-column: second-col/span third-col;
  grid-row: second-row/span third-row;
  text-align: right;
  margin-top: 2rem;
}
.footer-info .footer-thanks h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
.footer-info .footer-thanks h3 i {
  color: #3d897c;
}
.footer-info .footer-thanks p {
  width: 50%;
  margin-left: 50%;
  margin-top: 1rem;
}

.color-light {
  background-color: #3d897c;
  width: 98.9vw;
  height: 1.5rem;
  margin-top: 3rem;
}

.color-dark {
  background-color: #051d41;
  width: 98.9vw;
  height: 4rem;
}