html {
    font-family: $main-font;
}

.main-bg {
    background-color: $yellow;
    @include gradient-two-colors ($yellow, $darkgreen);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

.main-body {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    @include bg-img ($page-bg-img, no-repeat, cover);
    border-radius: 1rem;
    @include box-shadow;
}

header {
    width: 100%;
    nav {
        width: 86%;
        margin: 0 auto;
        padding: 2.5rem 0;
        a {
            text-decoration: none;
            color: $dark;
            h1 {
                text-transform: lowercase;
                font-size: 2rem;
                font-weight: 900;
            }
        }
    }
}

main {
    img {
        width: 20%;
    }
    display: grid;
    width: 86%;
    height: 80%;
    overflow: hidden;
    margin: 0 auto;
    grid-template-columns: [first-col-start] 70% [second-col-start] 30% [end-col];
    grid-template-rows: [first-row-start] 60% [second-row-start] 40% [end-row];
    .all-info {
        background-color: lavender;
        grid-column: first-col-start / span second-col-start;
        grid-row: first-row-start / span second-row-start;
    }
    .all-movies {
        background-color: lawngreen;
        grid-column: first-col-start / span second-col-start;
        grid-row: second-row-start / span end-row;

    }
    .one-movie {
        background-color: lightcoral;
        grid-column: second-col-start / span end-col;
        grid-row: first-row-start / span end-row;
    }
    
}