//COLORS
$yellow: #c4c9af;
$darkgreen: #002238;
$dark: #1f2216;
$white: #fcfdfc;
$brown: #003533;
$blue: #005b8f;

//FONT
$main-font: 'Roboto Condensed', sans-serif;
$important-font: 'Berkshire Swash', cursive;

//IMAGES
$page-bg-img: url('../assets/beautiful-nature-okinawa.jpg');