@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
html {
  font-family: "Roboto Condensed", sans-serif;
}

.main-bg {
  background-color: #efdc70;
  background: -webkit-gradient(linear, left top, left bottom, from(#efdc70), to(#405b29));
  background: linear-gradient(180deg, #efdc70, #405b29);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
}

.main-body {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background-image: url("../assets/beautiful-nature-okinawa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.75);
}

header {
  width: 100%;
}
header nav {
  width: 80%;
  margin: 0 auto;
  padding: 2.5rem 0;
}
header nav a {
  text-decoration: none;
  color: #1f2216;
}
header nav a h1 {
  text-transform: lowercase;
  font-size: 2rem;
  font-weight: 900;
}