//COLORS
$black-color: #000;
$white-color: #fff;
$gray-color: #a2a2a2;
$dark-gray-color: #404040;

//FONTS
$main-font: 'Oswald', sans-serif;
$headings-font: 'Great Vibes', cursive;
$additions-font: 'Prata', serif;
$menu-font: 'Raleway', sans-serif;