// IMPORT FILES
@import "vars";
@import "mixins";

// MAIN ELEMENTS STYLING
html {
    @include body1;
    background-color: $white-color;
}

figure {
    figcaption {
        display: none;
    }
}

h1 {
    @include heading1;
}

.subtitle {
    @include subtitle;
}

.subtitle2 {
    @include subtitle2;
}

.btn-text {
    @include btns;
}

.content {
    @include content-style;
}

// PRECISE STYLING
header {
    padding: .5rem 0;
    .content {
        @include flex (row, no-wrap, space-between);
        align-content: center;
        align-items: center;
    }
    @include menu-style ($dark-bordo-color);
    .contacts {
        a img {
            &:nth-child {
                fill: white;
            }
        }
    }
}

.landing-info {
    .content {
        @include flex (row, no-wrap, space-between);
        align-content: center;
        align-self: center;
        @include content-padding-top;
        .main-info {
            width: 45%;
            @include flex (column, no-wrap, space-between);
        }
        .landing-img {
            height: auto;
            max-height: 70vh;
            width: 50%;
            figure {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        @include btn-style;
        .happy-pets {
            @include flex(row, no-wrap, left);
            align-content: center;
            align-items: center;
            .imgs {
                @include flex (row, no-wrap, left);
                figure {
                    &:first-child {
                        position: relative;
                        z-index: 3;
                    }
                    &:nth-child(2) {
                        position: relative;
                        z-index: 2;
                        right: 1rem;
                    }
                    &:nth-child(3) {
                        position: relative;
                        z-index: 1;
                        right: 2rem;
                    }
                }
            }
        }
    }
}