// COLORS
$white-color: #F9F7F2;
$pink-dark-color: #DE8592;
$light-pink-color: #FBE8E7;
$dark-bordo-color: #44000A;
$pink-color: #EAB8BD;
$bordo-color: #730011;

// FONTS
$main-font: "Cabin", sans-serif;
$highlight-font: "Raleway", sans-serif;

// FONT SETTINGS
$body-font-size: 20px;
$heading1-font-size: 2.6rem;
$heading2-font-size: 2.1rem;
$numer-font-size: 2.1rem;
$subtitle-font-size: 0.9rem;
$buttons-font-size: 0.9rem;
$subtitle2-font-size: 0.7rem;
$body2-font-size: 0.7rem;
$arrowtext-font-size: 0.7rem;

$body-font-weight: 600;
$heading1-font-weight: 700;
$heading2-font-weight: 400;
$numer-font-weight: 400;
$subtitle-font-weight: 500;
$buttons-font-weight: 600;
$subtitle2-font-weight: 500;
$body2-font-weight: 500;
$arrowtext-font-weight: 500;