// COLORS
$yellow: #F0B656;
$darkyellow: #c18011;
$white: #FFF;
$dark: #2D2B29;
$black: #000;
$gray: #8C8C8C;

//FONTS
$main-font: 'Montserrat', sans-serif;
$important-font: 'Poppins', sans-serif;

// IMAGES
$landing-main-img: url(../assets/cat-with-big-blue-eyes.jpg);